h1 {
  font-family: "Lavishly", cursive;
  text-align: center;
  color: black;
  font-size: 30px;
  margin: 0;
  line-height: 80px;
}
body {
  margin: 0;
  padding: 0;
  background: #f1f3e0;
  padding-bottom: 80px;
  overflow-y: scroll;
}
.content-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.content-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-title {
  font-family: "Lavishly", cursive;
  color: #f1f3e0;
  font-size: 45px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  line-height: 80px;
  z-index: 101;
}
.button-primary {
  display: inline-block;
  padding: 10px 20px;
  border: 5px solid black;
  background-color: #d2dcb6;
  margin: 20px 0;
  text-decoration: none;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.button-parent-container {
  text-align: center;
}
li.article {
  border: 5px solid black;
  background-color: #d2dcb6;
  list-style-type: none;
  margin: 20px auto;
  max-width: 900px;
  padding-left: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
}
li.article:hover {
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
}

p {
  font-family: "Raleway", sans-serif;
  color: #333333;
}
li.article a {
  -webkit-tap-highlight-color: transparent;
  color: #333333;
  font-size: 22px;
  display: block;
  padding: 15px 20px;
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  text-decoration: none;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #a1bc98;
  color: #f1f3e0;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border: 0px solid black;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  z-index: 90;
}
ul.topnav {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #a1bc98;
  display: flex;
  border: 0px solid black;
  height: 80px;
  z-index: 100;
  border-bottom: 2px solid black;
}

nav.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

ul.topnav li.last {
  float: right;
  margin-left: auto;
  border-right: none;
  border-left: 2px solid black;
}
ul.topnav li a {
  display: block;
  color: #f1f3e0;
  padding: 0px 35px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  height: 80px;
  line-height: 80px;
  border-right: 2px solid black;
}
ul.topnav li a:hover:not(.active) {
  background-color: #778873;
}
ul.topnav li a.active {
  background-color: #778873;
  color: #d2dcb6;
}
@media screen and (max-width: 600px) {
  ul.topnav {
    flex-direction: column;
  }
  ul.topnav li {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #e6e6ea;
  }
  ul.topnav li:last-child {
    border-bottom: none;
  }
}
.dropdown-container {
  border: none;
  border-radius: 0;
  padding: 0 20px;
  margin-bottom: 20px;
}

.dropdown-toggle {
  width: 100%;
  border: 4px solid black;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  background-color: #a1bc98;
  color: #f1f3e0;
  padding: 10px 0;
}
.dropdown-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  padding: 0px 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #f1f3e0;
  border: 3px solid black;
  border-top: 0px;
}
.show-content .dropdown-content {
  max-height: 500px;
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  font-family: 'Open Sans', 'sans-serif';
}
.show-content .arrow {
  transform: rotate(180deg);
}

.arrow {
  transition: transform 0.3s ease;
  color: white;
}
